.pay-grid-first-col {
    width: 100px !important;
}

.ticket-table {
    border: 2px solid #d2d2d2;
    width: auto !important;
    margin: 20px 10px 20px 10px !important;
}

.column-width {
    width: 130.8px !important;
}